[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "myblog/themes/hugo-bearblog"]
	path = myblog/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
